:root {
    --color-foreground-dark: #1d4ed8;
    --color-foreground: #3b82f6;
    --color-foreground-light: #60a5fa;
    --color-background: #172554;
    --color-highlight: #93c5fd;
    --color-text: #bfdbfe;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.main-container, .body-container {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.body-container {
    height: 100%;

    background-color: var(--color-background);
}

.header-container {
    height: 64px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 42px;

    color: var(--color-text);
    text-transform: uppercase;
    background-color: var(--color-foreground-dark);
}

.main-container {
    height: calc(100% - 64px);
}

.controls-container {
    width: 100%;
    height: 96px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: transparent;
}

.control-button {
    width: 184px;
    height: 64px;

    font-size: 24px;
    background-color: var(--color-foreground-dark);
    color: var(--color-text);
    border: none;
    border-radius: 8px;

    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

.control-button:hover {
    border: 4px solid white;
}

.game-container {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: row;
}

.gameboard-container {
    width: 50%;

    display: flex;
    flex-direction: column;
}

.gameboard-header {
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-foreground-light);

    font-size: 32px;
}

.gameboard {
    flex: 1;

    padding: 10px;

    display: grid;
    gap: 4px;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
}

.gameboard > div {
    border-radius: 4px;
    background-color: white;

    transition: background-color 0.5s ease;
}

.gameboard > div.ship-5 {
    background-color: black;
}

.gameboard > div.ship-4 {
    background-color: rgb(27, 27, 27);
}

.gameboard > div.ship-3 {
    background-color: rgb(34, 34, 34);
}

.gameboard > div.ship-2 {
    background-color: rgb(53, 53, 53);
}

.gameboard > div.hit {
    background-color: red;
}

.gameboard > div.miss {
    background-color: rgb(68, 133, 138);
}

.hidden {
    display: none;
}